﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Checadores2.aspx.cs" Inherits="_Default" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <p>
        <div>
    <table align="center"><tr><td>
        <asp:Label ID="Label1" runat="server" Text="Num Reloj"></asp:Label>
        </td><td>
            <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        </td><td>
                          <asp:Button ID="Button1" runat="server" class="btn btn-primary"
                        onclick="Button1_Click" Text="Buscar" />
        </td></tr>
           
            <tr>
            <td>
                <asp:Label ID="Label3" runat="server" Text="Fecha Inicio:"></asp:Label>
                </td>
            <td>
                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                <asp:CalendarExtender ID="CalendarExtender1" runat="server" 
                    Enabled="True" TargetControlID="TextBox2">
                </asp:CalendarExtender>
                </td>
            </tr>
            <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="Fecha Fin:"></asp:Label>
                </td>
            <td>
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
                <asp:CalendarExtender ID="CalendarExtender2" runat="server" 
                    Enabled="True" TargetControlID="TextBox3">
                </asp:CalendarExtender>
                </td>
            </tr>
        <tr><td>&nbsp;</td></tr>
            </table></div>
        <div >    
        <table align="center"><tr><td>
                <asp:GridView ID="GridView1" runat="server" class="table"
            
                    EmptyDataText="No hay incidencias con esa descripcion" GridLines="Vertical" 
                    onRowCommand="GridView1_RowCommand" 
                    onselectedindexchanged="GridView1_SelectedIndexChanged1">
                    <AlternatingRowStyle BackColor="#d9edf7" />
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <%--<HeaderStyle class="bg-primary" />--%>
              <HeaderStyle BackColor="#337ab7" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" font-size="10px"/>
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <SortedAscendingCellStyle BackColor="#F1F1F1" />
                    <SortedAscendingHeaderStyle BackColor="#0000A9" />
                    <SortedDescendingCellStyle BackColor="#CAC9C9" />
                    <SortedDescendingHeaderStyle BackColor="#000065" />
                </asp:GridView>
        </td></tr></table></div>
                    <table align="center"><tr><td>
                          <asp:Button ID="Button2" runat="server" class="btn btn-primary"
                        onclick="Button2_Click" Text="Descargar" />
                        </td></tr></table>
    
        <asp:ToolkitScriptManager ID="ToolkitScriptManager2" runat="server">
        </asp:ToolkitScriptManager>
        <br />
    </p>
    <div align="center">
  

</div>
</asp:Content>
