﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Escaneos.aspx.cs" Inherits="PlanProduccion" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<script runat="server">

    
</script>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server"><br /><br /><br /> <table align="right"><tr><td>
    <asp:Label ID="Label2" runat="server" Font-Size="XX-Large" ForeColor="Red"></asp:Label>
    </td></tr></table><table runat="server" id="FU" align="center"><br /><tr><td><asp:Image ID="Image1" runat="server" /></td></tr><tr><td>            
    
    <asp:TextBox ID="TextBox1" runat="server" MaxLength="10" autocomplete="off" ></asp:TextBox>
            <asp:FilteredTextBoxExtender ID="TextBox1_FilteredTextBoxExtender" runat="server" BehaviorID="TextBox1_FilteredTextBoxExtender" FilterType="Numbers" TargetControlID="TextBox1">
            </asp:FilteredTextBoxExtender>
         </td></tr><tr><td>                          <asp:Button ID="Guardar" runat="server" class="btn btn-primary"
                        onclick="Button1_Click" Text="Accesar" />
        </td></tr></table><table align="center"><tr><td align="center">
            <asp:Label ID="Label1" runat="server" ForeColor="Red" Font-Size="X-Large"></asp:Label>
            </td></tr> <tr><td>
    
        <asp:ToolkitScriptManager ID="ToolkitScriptManager2" runat="server">
        </asp:ToolkitScriptManager>
    
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <%--<HeaderStyle class="bg-primary" />--%>
              <HeaderStyle BackColor="#337ab7" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" font-size="10px"/>
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <SortedAscendingCellStyle BackColor="#F1F1F1" />
                    <SortedAscendingHeaderStyle BackColor="#0000A9" />
                    <SortedDescendingCellStyle BackColor="#CAC9C9" />
                    <SortedDescendingHeaderStyle BackColor="#000065" />
                </asp:GridView>
    </td></tr><tr><td>
            &nbsp;</td></tr></table>
</asp:Content>

