﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Locker.aspx.cs" Inherits="Asistencia" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

<div align="center">
<table>
<tr>
<td>
    &nbsp;</td>
</tr>
<tr>
<td>

    &nbsp;</td>
</tr>

</table>
<table>
<tr>
<td>
    <asp:Label ID="Label1" runat="server" Text="Registrados"></asp:Label>
</td>
<td>
</td>
<td>
    <asp:Label ID="Label2" runat="server" Text="Sin registrar"></asp:Label>
</td>
</tr>
<tr>
<td valign = "top" >
                <asp:GridView ID="GridView1" runat="server" class="table"
            
                    EmptyDataText="No hay incidencias con esa descripcion" GridLines="Vertical" 
                    onRowCommand="GridView1_RowCommand" 
                    onselectedindexchanged="GridView1_SelectedIndexChanged1">
                    <AlternatingRowStyle BackColor="#d9edf7" />
                    <Columns>
                        <asp:ButtonField Text="Select" />
                    </Columns>
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <%--<HeaderStyle class="bg-primary" />--%>
              <HeaderStyle BackColor="#337ab7" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" font-size="11px"/>
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <SortedAscendingCellStyle BackColor="#F1F1F1" />
                    <SortedAscendingHeaderStyle BackColor="#0000A9" />
                    <SortedDescendingCellStyle BackColor="#CAC9C9" />
                    <SortedDescendingHeaderStyle BackColor="#000065" />
                </asp:GridView>
</td>
<td>
    </td>
<td valign = "top" >
                <asp:GridView ID="GridView2" runat="server" class="table"
            
                    EmptyDataText="No hay incidencias con esa descripcion" GridLines="Vertical" 
                    onRowCommand="GridView2_RowCommand" 
                    onselectedindexchanged="GridView2_SelectedIndexChanged1">
                    <AlternatingRowStyle BackColor="#d9edf7" />
                    <Columns>
                        <asp:ButtonField Text="Select" />
                    </Columns>
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <%--<HeaderStyle class="bg-primary" />--%>
              <HeaderStyle BackColor="#337ab7" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" font-size="11px"/>
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <SortedAscendingCellStyle BackColor="#F1F1F1" />
                    <SortedAscendingHeaderStyle BackColor="#0000A9" />
                    <SortedDescendingCellStyle BackColor="#CAC9C9" />
                    <SortedDescendingHeaderStyle BackColor="#000065" />
                </asp:GridView>
</td>
</tr>
</table>
    <table id="Foto" runat="server" align="center">
        <tr><td>
            <asp:Image ID="Image2" runat="server" />
            </td></tr></table>
    <table id="Checada" runat="server" align="center">
        <tr><td>
            <asp:Label ID="Label5" runat="server"></asp:Label>
            </td></tr></table>
    <table id="Borrar" runat="server" align="center">
        <tr><td>
                          <asp:Button ID="Button3" runat="server" class="btn btn-primary"
                        onclick="Button3_Click" Text="Liberar" />
                    </td><td></td><td>
                          <asp:Button ID="Button4" runat="server" class="btn btn-primary"
                        onclick="Button4_Click" Text="Volver" />
                    </td></tr></table>

    <table id="Asignar" runat="server" align="center"><tr><td>
        <asp:Label ID="Label3" runat="server" Text="Numero Reloj:"></asp:Label>
        </td><td></td><td>
        <asp:TextBox ID="TextBox1" runat="server" Width="100px" Height="25px"></asp:TextBox>
        </td></tr><tr><td>
        <asp:Label ID="Label6" runat="server" Text="Comentario:"></asp:Label>
            </td><td></td><td>
        <asp:TextBox ID="TextBox2" runat="server" Width="100px" Height="25px"></asp:TextBox>
            </td></tr><tr><td>
                          <asp:Button ID="Button5" runat="server" class="btn btn-primary"
                        onclick="Button5_Click" Text="Asignar" />
                    </td><td></td><td>
                          <asp:Button ID="Button6" runat="server" class="btn btn-primary"
                        onclick="Button6_Click" Text="Volver" />
                    </td></tr></table>
    <table align="center"><tr><td>
        <asp:Label ID="Label4" runat="server" Font-Size="X-Large" ForeColor="Red"></asp:Label>
        </td></tr></table>
</div>

</asp:Content>

