﻿<%@ Page Title="login" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
 
   
      <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container" >
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>SAN ISIDRO II</strong> Guarderia </h1>
                           
                       </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>CEWS</h3>
                            		<p>Introduzca usuario y contraseña</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <div class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<%--<input type="text" id="TextBox1" name="form-username" placeholder="Usuario" class="form-username form-control" runat="server">--%>
			                          <asp:TextBox ID="TextBox1" name="form-username" placeholder="Usuario" class="form-username form-control" runat="server" > </asp:TextBox> 
                                     
                                    </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<%--<input type="password"  id="TextBox2" name="form-password" placeholder="Contraseña" class="form-password form-control" id="form-password">--%>
			                           <asp:TextBox ID="TextBox2" name="form-password" placeholder="Contraseña" class="form-password form-control" runat="server" ></asp:TextBox>
                                         </div>
			                        <%--<button ID="Button1" class="btn" onclick="Button1_Click" runat="server">Acceder</button>--%>
                                    <asp:Button ID="Button1" class="btn btn-primary" runat="server" Text="Acceder"  onclick="Button1_Click" />
			                    </div>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>







<%--<center>
    <table>
        <tr>
            <td  >
            <asp:Label ID="Label1" runat="server" Text="Usuario:"></asp:Label>
            </td>
            <td align="left" >
                <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td  >
            <asp:Label ID="Label3" runat="server" Text="Clave:"></asp:Label>
            </td>
            <td align="left" >
                <asp:TextBox ID="TextBox2" runat="server" ></asp:TextBox>
            </td>
        </tr>
    </table>
    <table align="center">
        <tr>
        <td>
            &nbsp;</td>
        <td align="left">
            <asp:Button ID="Button1" runat="server" 
                    Text="Ingresar" CssClass="botones" onclick="Button1_Click" /></td>
        </tr>
    </table>
</center>--%>
<asp:Label ID="Label2" runat="server" Visible="False"></asp:Label>
<br />
<br />
<br />
</asp:Content>

