﻿ul,ol{
	list-style:none;

}

.nav li a{
	background-color:#465c71;
	color: #fff;
	text-decoration: none;
	padding: 0px 0px;
	display: block;
	height: 15px;
}
.nav >li{
	float: left;
	margin-left:0px;
}