﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="HC.aspx.cs" Inherits="_Default" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <style type="text/css">
        .style3
        {width: 70px;}
        .style4{ width: 10px;}
    </style>
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

   
   
    <div class="container" >
   
    <br />
       <nav class="navbar navbar-inverse bg-inverse" >
            <div style=" float: left;text-align: left;width:100%; margin: 2px 10px;display: inline;">
                 <asp:DropDownList ID="DropDownList1" runat="server" Width="30%" ForeColor="Black" AutoPostBack="True" onselectedindexchanged="DropDownList1_SelectedIndexChanged"> </asp:DropDownList>
                 <asp:DropDownList ID="DropDownList2" Width="20%" ForeColor="Black" runat="server"></asp:DropDownList>   
                 <asp:DropDownList ID="DropDownList3" Width="10%" ForeColor="Black" runat="server"></asp:DropDownList>
                 <asp:DropDownList ID="DropDownList4" Width="10%" ForeColor="Black" runat="server"></asp:DropDownList>

                 <asp:Button ID="Button3" runat="server" class="btn btn-primary" onclick="Button3_Click" Text="Buscar" />
            </div>
        </nav>

            <table align="center"> <tr><td>
                <asp:Image ID="Image2" runat="server" />
                </td></tr></table>

 
    <div style="overflow : auto; width : 100%; max-height : 800px;">
                <%--<asp:GridView ID="GridView1" runat="server" BackColor="White" BorderColor="#999999" BorderStyle="None" BorderWidth="1px" CellPadding="3"--%> 
                <asp:GridView ID="GridView1" runat="server" class="table"
            
                    EmptyDataText="No hay incidencias con esa descripcion" GridLines="Vertical" 
                    onRowCommand="GridView1_RowCommand" 
                    onselectedindexchanged="GridView1_SelectedIndexChanged1">
                    <AlternatingRowStyle BackColor="#d9edf7" />
                    <Columns>
                        <asp:ButtonField Text="Select" />
                    </Columns>
                    <FooterStyle BackColor="#CCCCCC" ForeColor="Black" />
                    <%--<HeaderStyle class="bg-primary" />--%>
              <HeaderStyle BackColor="#337ab7" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <RowStyle BackColor="#EEEEEE" ForeColor="Black" font-size="10px"/>
                    <SelectedRowStyle BackColor="#008A8C" Font-Bold="True" ForeColor="White" />
                    <SortedAscendingCellStyle BackColor="#F1F1F1" />
                    <SortedAscendingHeaderStyle BackColor="#0000A9" />
                    <SortedDescendingCellStyle BackColor="#CAC9C9" />
                    <SortedDescendingHeaderStyle BackColor="#000065" />
                </asp:GridView>
        </div>
           <br />
                    <div class="row">
                          <asp:Button ID="Button2" runat="server" class="btn btn-primary"
                        onclick="Button2_Click" Text="Descargar" />
                    </div>
                       <asp:Label ID="Label1" runat="server"></asp:Label>
    
        <br />
   
   </div>
  
</asp:Content>
